{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Detalhes do Pedido</h1>
    <hr>
    {% if pedido %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Título: {{ pedido.titulo }}</h2>
                <p class="card-text"><strong>Subtítulo:</strong> {{ pedido.sub_titulo or "Não informado" }}</p>
                <p class="card-text"><strong>Autor:</strong> {{ pedido.nome_autor }} {{ pedido.sobrenome_autor }}</p>
                <p class="card-text"><strong>Coautor:</strong> {{ pedido.nome_coautor }} {{ pedido.sobrenome_coautor }}</p>
                <p class="card-text"><strong>Curso:</strong> {{ pedido.curso }}</p>
                <p class="card-text"><strong>Ano de Publicação:</strong> {{ pedido.ano_publicacao }}</p>
                <p class="card-text"><strong>Instituição:</strong> {{ pedido.instituicao }}</p>
                <p class="card-text"><strong>Cidade:</strong> {{ pedido.cidade }}</p>
                <p class="card-text"><strong>Número de Páginas:</strong> {{ pedido.numero_pag }}</p>
                <p class="card-text"><strong>Ilustração:</strong> {{ pedido.ilustracao or "Não informado" }}</p>
                <p class="card-text"><strong>Tabela:</strong> {{ pedido.tabela or "Não informado" }}</p>
                <p class="card-text"><strong>Bibliografia:</strong> {{ pedido.bibliografia }}</p>
                <p class="card-text"><strong>Palavras-Chave:</strong> {{ pedido.palavras_chaves }}</p>
                <p class="card-text"><strong>Código Cutter:</strong> {{ pedido.cod_cutter }}</p>
                <p class="card-text"><strong>CDD:</strong> {{ pedido.cdd }}</p>
                <p class="card-text"><strong>Tamanho:</strong> {{ pedido.tamanho }}</p>
                <p class="card-text"><strong>Status:</strong> {{ pedido.status }}</p>
                <p class="card-text"><strong>Data de Envio:</strong> {{ pedido.data_envio[:10] | replace('-', '/') }}</p>
            </div>
        </div>

        <hr>
        
            <button type="button" name="acao" value="aprovar" class="btn btn-success" onclick="confirmarAcao('aprovar','{{ pedido.id }}')">Aprovar</button>
            <button type="button" name="acao" value="rejeitar" class="btn btn-danger" onclick="confirmarAcao('rejeitar','{{ pedido.id }}')">Rejeitar</button>
        <form id="confirmForm" method="POST" style="display: none;" ></form>
    {% else %}
        <p class="text-danger">Pedido não encontrado.</p>
    {% endif %}

    <div id="result" class="result"></div>

        <button id="downloadPdf" style="display:none;">Baixar Ficha em PDF</button>
    </div>

</div>
<div id="pedido" style= "display:none">{{pedido}}</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="{{ url_for('static',filename = 'js/gerador_ficha.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
{% endblock %}
