{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Detalhes do Pedido</h1>
    <hr>
    {% if pedido %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" id="titulo">Título: {{ pedido.titulo }}</h2>

                <p class="card-text" id="subtitulo"><strong>Subtítulo:</strong> {{ pedido.sub_titulo or "Não informado" }}</p>
                <p class="card-text" id="autor"><strong>Autor:</strong> {{ pedido.nome_autor }}</p>
                <p class="card-text" id="sobrenome_autor"><strong>Sobrenome do Autor:</strong> {{ pedido.sobrenome_autor }}</p>
                <p class="card-text" id="coautor"><strong>Coautor:</strong> {{ pedido.nome_coautor }}</p>
                <p class="card-text" id="sobrenome_coautor"><strong>Sobrenome do Coautor:</strong> {{ pedido.sobrenome_coautor }}</p>
                <p class="card-text" id="curso"><strong>Curso:</strong> {{ pedido.curso }}</p>
                <p class="card-text" id="ano"><strong>Ano de Publicação:</strong> {{ pedido.ano_publicacao }}</p>
                <p class="card-text" id="instituicao"><strong>Instituição:</strong> {{ pedido.instituicao }}</p>
                <p class="card-text" id="cidade"><strong>Cidade:</strong> {{ pedido.cidade }}</p>
                <p class="card-text" id="numero_pag"><strong>Número de Páginas:</strong> {{ pedido.numero_pag }}</p>
                <p class="card-text" id="ilustracao"><strong>Ilustração:</strong> {{ pedido.ilustracao or "Não informado" }}</p>
                <p class="card-text" id="tabela"><strong>Tabela:</strong> {{ pedido.tabela or "Não informado" }}</p>
                <p class="card-text" id="bibliografia"><strong>Bibliografia:</strong> {{ pedido.bibliografia }}</p>
                <p class="card-text" id="palavras_chaves"><strong>Palavras-Chave:</strong> {{ pedido.palavras_chaves }}</p>
                <p class="card-text" id="cod_cutter"><strong>Código Cutter:</strong> {{ pedido.cod_cutter }}</p>
                <p class="card-text" id="cdd"><strong>CDD:</strong> {{ pedido.cdd }}</p>
                <p class="card-text" id="tamanho"><strong>Tamanho:</strong> {{ pedido.tamanho }}</p>
                <p class="card-text" id="status"><strong>Status:</strong> {{ pedido.status }}</p>
        

                <p class="card-text" id="data_envio" value="{{ pedido.data_envio[:10] | replace('-', '/') }}">
                <strong>Data de Envio:</strong> {{ pedido.data_envio[:10] | replace('-', '/') }}
                </p>

            </div>
        </div>

        <hr>
        {% if pedido.status == 'pendente' %}
            <button type="button" name="acao" value="aprovar" class="btn btn-success" onclick="confirmarAcao('aprovar','{{ pedido.id }}')">Aprovar</button>
            <button type="button" name="acao" value="rejeitar" class="btn btn-danger" onclick="confirmarAcao('rejeitar','{{ pedido.id }}')">Rejeitar</button>
        <form id="confirmForm" method="POST" style="display: none;" ></form>
        {% elif pedido.status == 'Aprovado'%}
        
            <div id="result" class="result">

            
            </div>
            <button id="downloadPdf" >Baixar Ficha em PDF</button>
        {% endif %}
    {% else %}
        <p class="text-danger">Pedido não encontrado.</p>
    {% endif %}

    



<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="{{ url_for('static',filename = 'js/gerador_ficha.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
{% endblock %}
