{% extends 'base.html' %}

{% block title %}Dashboard do Aluno{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aluno.css') }}">
<h2>Bem-vindo, {{ session['nome'] }}</h2>
<p>Aqui estão seus pedidos de TCC:</p>

{% if pedidos %}
<ul>
    {% for pedido in pedidos %}
    <li>
        Título: {{ pedido.titulo }} | Status: {{ pedido.status }}
        <div class='option-pedido'>
        {% if pedido.status == 'Aprovado'%}
        <form action="{{ url_for('preencher-docx.preencher_docx', pedido_id=pedido.id) }}" method="POST">
            <button type="submit">Baixar ROA</button>
        </form>
        {% endif %}
        <a href="{{ url_for('aluno.detalhes_pedido', pedido_id=pedido.id) }}">Detalhes</a>
    </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Você ainda não fez nenhum pedido de TCC.</p>
{% endif %}

<a href="{{ url_for('aluno.cadastrar_pedido') }}">Cadastrar novo pedido</a>
{% endblock %}
