{% extends 'base.html' %}

{% block title %}Dashboard do Aluno{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aluno.css') }}">
<h2>Bem-vindo, {{ session['nome'] }}</h2>
<p>Aqui estão seus pedidos de TCC:</p>

{% if pedidos %}
<ul>
    {% for pedido in pedidos %}
    <li>
        Título: {{ pedido.titulo_provisorio }} | Status: {{ pedido.status }}
        {% if pedido.status == 'Reprovado'%}
        <span style="color: red; font-weight: bold;">Justificativa: {{ pedido.obs }}</span>
        {% elif pedido.status == 'Aprovado' %}
        <span style="color: green; font-weight: bold;">Apto para apresentar TCC</span>
        {% endif %}
        <div class='option-pedido'>

        <a href="{{ url_for('aluno.detalhes_pedido', pedido_id=pedido.id) }}">Detalhes</a>
    </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Você ainda não fez nenhum pedido de TCC.</p>
{% endif %}

<a href="{{ url_for('aluno.cadastrar_pedido') }}">Cadastrar novo pedido</a>
<a href="{{ url_for('aluno.cadastrar_ficha_catalografica') }}">Fazer pedido de ficha catalográfica</a>
{% endblock %}
