{% extends 'base.html' %}

{% block title %}Dashboard do Aluno{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aluno.css') }}">
<h2>Bem-vindo, {{ session['nome'] }}</h2>
<p>Aqui estão seus pedidos de TCC:</p>

{% if pedidos %}
<ul>
    <li>
        Título: {{ pedidos.titulo }} | Status: {{ pedidos.status }}
        
        <a href="{{ url_for('aluno.detalhes_pedido', pedido_id=pedidos.id) }}">Detalhes</a>
    </li>
</ul>
{% else %}
<p>Você ainda não fez nenhum pedido de TCC.</p>
{% endif %}

<a href="{{ url_for('aluno.cadastrar_pedido') }}">Cadastrar novo pedido</a>
{% endblock %}
