{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aluno.css') }}">
<div class="container mt-5">
    <h1>Detalhes do Pedido</h1>
    <hr>
    {% if pedido %}
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text"><strong>Status:</strong> {{ pedido.status }}</p>
            </div>
        </div>
        {% if pedido.status == "pendente" %}
            <form method="POST">
                <div class="form-group">
                    <label for="nome_autor">Nome do Autor</label>
                    <input type="text" class="form-control" id="nome_autor" name="nome_autor" value="{{ pedido.nome_autor }}" required>
                </div>
                <div class="form-group">
                    <label for="sobrenome_autor">Sobrenome do Autor</label>
                    <input type="text" class="form-control" id="sobrenome_autor" name="sobrenome_autor" value="{{ pedido.sobrenome_autor }}" required>
                </div>
                <div class="form-group">
                    <label for="nome_coautor">Nome do Coautor</label>
                    <input type="text" class="form-control" id="nome_coautor" name="nome_coautor" value="{{ pedido.nome_coautor }}">
                </div>
                <div class="form-group">
                    <label for="sobrenome_coautor">Sobrenome do Coautor</label>
                    <input type="text" class="form-control" id="sobrenome_coautor" name="sobrenome_coautor" value="{{ pedido.sobrenome_coautor }}">
                </div>
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" value="{{ pedido.titulo }}" required>
                </div>
                <div class="form-group">
                    <label for="sub_titulo">Subtítulo</label>
                    <input type="text" class="form-control" id="sub_titulo" name="sub_titulo" value="{{ pedido.sub_titulo }}">
                </div>
                <div class="form-group">
                    <label for="curso">Curso</label>
                    <input type="text" class="form-control" id="curso" name="curso" value="{{ pedido.curso }}" required>
                </div>
                <div class="form-group">
                    <label for="ano_publicacao">Ano de Publicação</label>
                    <input type="number" class="form-control" id="ano_publicacao" name="ano_publicacao" value="{{ pedido.ano_publicacao }}" required>
                </div>
                <div class="form-group">
                    <label for="instituicao">Instituição</label>
                    <input type="text" class="form-control" id="instituicao" name="instituicao" value="{{ pedido.instituicao }}" required>
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" value="{{ pedido.cidade }}" required>
                </div>
                <div class="form-group">
                    <label for="numero_pag">Número de Páginas</label>
                    <input type="number" class="form-control" id="numero_pag" name="numero_pag" value="{{ pedido.numero_pag }}" required>
                </div>
                <div class="form-group">
                    <label for="ilustracao">Ilustração</label>
                    <input type="number" class="form-control" id="ilustracao" name="ilustracao" value="{{ pedido.ilustracao }}">
                </div>
                <div class="form-group">
                    <label for="tabela">Tabela</label>
                    <input type="number" class="form-control" id="tabela" name="tabela" value="{{ pedido.tabela }}">
                </div>
                <div class="form-group">
                    <label for="bibliografia">Bibliografia</label>
                    <input type="text" class="form-control" id="bibliografia" name="bibliografia" value="{{ pedido.bibliografia }}" required>
                </div>
                <div class="form-group">
                    <label for="palavras_chaves">Palavras-Chave</label>
                    <input type="text" class="form-control" id="palavras_chaves" name="palavras_chaves" value="{{ pedido.palavras_chaves }}" required>
                </div>
                <div class="form-group">
                    <label for="cod_cutter">Código Cutter</label>
                    <input type="text" class="form-control" id="cod_cutter" name="cod_cutter" value="{{ pedido.cod_cutter }}" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="cdd">CDD</label>
                    <input type="text" class="form-control" id="cdd" name="cdd" value="{{ pedido.cdd }} " disabled="disabled">
                    <input type="hidden" name="cdd" value="{{ pedido.cdd }}">
                    
                </div>
                <div class="form-group">
                    <label for="tamanho">Tamanho</label>
                    <input type="number" class="form-control" id="tamanho" name="tamanho" value="{{ pedido.tamanho }}">
                </div>
                <div class="button-group mt-3">
                    <button type="submit" class="btn btn-success">Salvar Alterações</button>
                    <button type="submit" name="delete" value="1" class="btn btn-warning" onclick="return confirm('Tem certeza que deseja deletar este pedido?');">
                        Deletar Pedido
                    </button>
                </div>
            </form>
        {% else %}
            <p class="text-danger">Este pedido já foi {{ pedido.status.lower() }} e não pode ser editado.</p>
        {% endif %}
    {% else %}
        <p class="text-danger">Pedido não encontrado.</p>
    {% endif %}
</div>
{% endblock %}
