{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aluno.css') }}">
<div class="container mt-5">
    <h1>Detalhes do Pedido</h1>
    <hr>
    {% if pedido %}
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text"><strong>Status:</strong> {{ pedido.status }}</p>
            </div>
        </div>
        {% if pedido.status == "Pendente" %}
            <form method="POST">
                <label for="titulo_provisorio">Título provisorio:</label>
            <input type="text" id="titulo_provisorio" name="titulo_provisorio" value="{{ pedido.titulo_provisorio }}" required>


            <label for="curso">Curso:</label>
            <select id="curso" name="curso" required value="{{ pedido.curso }}">
                <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
                <option value="Sistemas de Informação">Sistemas de Informação</option>
                <option value="Gestão Ambiental">Gestão Ambiental</option>
            </select>

            <label for="semestre">Semestre:</label>
            <select id="semestre" name="semestre" value="{{ pedido.semestre }}">
                <option value="2025.1">2025.1</option>
                <option value="2024.2">2024.2</option>
                <option value="2024.1">2024.1</option>
                <option value="2023.2">2023.2</option>
                <option value="2023.1">2023.1</option>
            </select>

            <label for="data-defesa">Data de defesa:</label>
            <input type="date" id="data-defesa" name="data-defesa" value="{{ pedido.data_defesa }}">

            <label for="horario">Horario:</label>
            <input type="time" id="horario" name="horario" value="{{ pedido.horario }}">

            <label>Turno:</label>
            <div class="turno-radio">
            <input type="radio" value="manhâ" id="turno" name="turno">Manhã
            <input type="radio" value="noite" id="turno" name="turno">Noite
            </div>

            <label for="orientador">Orientador:</label>
            <input type="text" id="orientador" name="orientador" required value="{{ pedido.orientador }}">

            <label for="tema_pesquisa">Tema da Pesquisa:</label>
            <input type="text" id="tema_pesquisa" name="tema_pesquisa" required value="{{ pedido.tema_pesquisa }}">

            <label for="atividades_desenvolvidas">Atividades Desenvolvidas:</label>
            <textarea id="atividades_desenvolvidas" name="atividades_desenvolvidas" rows="4" value="{{ pedido.atividades_desenvolvidas }}"></textarea>

            <label for="contribuicoes_pesquisa">Contribuições da Pesquisa:</label>
            <textarea id="contribuicoes_pesquisa" name="contribuicoes_pesquisa" rows="4" value="{{ pedido.contribuicoes }}"></textarea>

            <h2>Membros da banca</h2>

            <label for="membro1">Membro 1:</label>
            <input type="text" id="membro1" name="membro1" required value="{{ pedido.membro1 }}">

            <label for="membro2">Membro 2:</label>
            <input type="text" id="membro2" name="membro2" required value="{{ pedido.membro2 }}">
                <div class="button-group mt-3">
                    <button type="submit" class="btn btn-success">Salvar Alterações</button>
                    <button type="submit" name="delete" value="1" class="btn btn-warning" onclick="return confirm('Tem certeza que deseja deletar este pedido?');">
                        Deletar Pedido
                    </button>
                </div>
            </form>
        {% else %}
            <p class="text-danger">Este pedido já foi {{ pedido.status }} e não pode ser editado.</p>
        {% endif %}
    {% else %}
        <p class="text-danger">Pedido não encontrado.</p>
    {% endif %}
</div>
{% endblock %}
