<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TCC System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo">
            <h1 id="title">Sistema de TCC</h1>
        </div>
        <div class="nav-buttons">
            <a href="{{ url_for('auth.logout') }}" class="btn-icon">
                <i class="fas fa-sign-out-alt"></i> Sair
            </a>
            {% if session['role'] == 'aluno' %}
            <a href="{{ url_for('aluno.dashboard') }}" class="btn-icon">
                <i class="fas fa-home"></i> Homepage
            </a>
            {% elif session['role'] == 'secretaria' %}
            <a href="{{ url_for('secretaria.dashboard') }}" class="btn-icon">
                <i class="fas fa-home"></i> Homepage
            </a>
            {% endif %}
        </div>
    </header>
    

<!-- Exibir mensagens flash -->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="alert-container">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="padding: 15px; border-radius: 5px; font-size: 16px; font-weight: bold;">
                    {{ message }}
                    <button type="button" class="close btn-close" data-bs-dismiss="alert" aria-label="Close" style="font-size: 12px; padding: 2px;"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
