<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TCC System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de TCC</h1>

        <a href="{{ url_for('auth.logout') }}">Sair</a>
        
        {% if  session['role'] == 'aluno' %}
            <a href="{{ url_for('aluno.dashboard') }}" class="btn btn-primary">Voltar para a Homepage</a>

        {% elif session['role'] == 'secretaria' %}
        <a href="{{ url_for('secretaria.dashboard') }}" class="btn btn-primary">Voltar para a Homepage</a>

        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
